{
  "env": {
      "es6": true,
      "node": true,
      "browser": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 9,
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "linebreak-style": 0,
      "quotes": [
          "error",
          "single"
      ],
      "semi": [
          "error",
          "always"
      ],
      "no-unused-vars": 0,
      "react/prop-types": 0,
      "no-console": 0,
      "no-case-declarations": 0
  }
}